<div class="container-fluid product-form">
  <section class="section">
    <form #productForm="ngForm" (ngSubmit)="addProduct(productForm.value)">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <label for="productname">Product Name</label>
          <input type="text" class="form-control" name="productname" required id="productname" [(ngModel)]="product.productname" placeholder="Product Name">
        </div>
        <div class="form-group">
          <label for="price">Product Original Price</label>
          <input type="number" class="form-control" min="1" name="productprice" required id="productprice" [(ngModel)]="product.productprice"
            placeholder="Price">
        </div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <label for="price">Product Image</label>
          <select class="form-control" name="productimage" required id="productimage" [(ngModel)]="product.productimage">
            <option *ngFor="let productImage of productImages" value="{{productImage}}">{{productImage}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="description">Are you going to provide 10% offer for this Product? </label>
          <div class="radio">
            <label class="radio-inline">
              <input type="radio" name="productoffer" id="inlineRadio1" [(ngModel)]="product.productoffer" required value="1"> Yes
            </label>
            <label class="radio-inline">
              <input type="radio" name="productoffer" id="inlineRadio2" [(ngModel)]="product.productoffer" required value="0"> No
            </label>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
          <label for="description">Product Description</label>
          <textarea id="productdescription" name="productdescription" required maxlength="350" class="form-control" [(ngModel)]="product.productdescription"
            placeholder="Description" rows="3"></textarea>
        </div>
        <div class="form-group">
          <button [disabled]="!productForm.valid" type="submit" class="btn btn-primary">Save Product</button>
        </div>
      </div>
    </form>
  </section>
</div>
<div class="container-fluid product-form">
  <div *ngFor="let product of productsList; let i=index" class="row product-details">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="product-image">
        <img style="width:210px;height: 210px;" src="./../assets/custom/images/{{product.productImage}}" />
      </div>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="product-description">
        <div class="product-name">{{product.productName}}</div>
        <div>
          <button type="button" class="btn btn-success btn-xs">4.1 ★</button>
        </div>
        <div class="product-description">
          {{product.productDescription}}
        </div>
        <div class="product-specifications">
          <ul>
            <li>Watch Movement: Quartz</li>
            <li>Water Resistant (50 m)</li>
            <li>Display Type: Analog</li>
            <li>Strap: Silver, Metal</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="product-order">
        <div class="product-price">
          <span *ngIf="product.isOfferProduct==1; then offerPrice  else noOfferPrice"></span>
          <ng-template #offerPrice>{{ offerPriceCalculation(product.productPrice) | currency }}
            <p class="offernote">10% offer for this product</p> 
            <p class="productoriginalprice"><del>{{product.productPrice | currency}}</del></p>
          </ng-template>
          <ng-template #noOfferPrice>{{ product.productPrice | currency }} </ng-template>
        </div>
        <div class="product-price-emi"> 
          <span *ngIf="product.isOfferProduct==1; then offerEmiPrice  else noOfferEmiPrice"></span>
          <ng-template #offerEmiPrice> EMI {{ (offerPriceCalculation(product.productPrice) / 12 ) | currency }} / Month </ng-template>
          <ng-template #noOfferEmiPrice> EMI {{ (product.productPrice / 12 ) | currency }} / Month </ng-template>
        </div>
      </div>
      <div class="product-button">
        <button type="button" (click)="deleteProduct(product.id)" class="btn btn-primary btn-sm btn-block">Delete</button>
      </div>
    </div>
  </div>
</div>