<footer>
  <div class="container myfooter">
      <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <h4>what is lorm</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <!-- Links -->
              <h5 class="text-uppercase myfootertitle">Features</h5>
                  <ul class="list-unstyled">
                  <li>
                      <a href="#!">Cool stuff</a>
                  </li>
                  <li>
                      <a href="#!">Random feature</a>
                  </li>
                  <li>
                      <a href="#!">Team feature</a>
                  </li>
                  <li>
                      <a href="#!">Stuff for developers</a>
                  </li>
              </ul>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <!-- Links -->
              <h5 class="text-uppercase myfootertitle">Resources</h5>
                  <ul class="list-unstyled">
                  <li>
                      <a href="#!">Resource</a>
                  </li>
                  <li>
                      <a href="#!">Resource name</a>
                  </li>
                  <li>
                      <a href="#!">Another resource</a>
                  </li>                            
              </ul>
          </div>                      
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <!-- Links -->
              <h5 class="text-uppercase myfootertitle">About us</h5>
              <ul class="list-unstyled">
                  <li>
                      <a href="#!">Team</a>
                  </li>
                  <li>
                      <a href="#!">Locations</a>
                  </li>
                  <li>
                      <a href="#!">Privacy</a>
                  </li>
                  <li>
                      <a href="#!">Terms</a>
                  </li>
                  <li>
                      <a href="#!">Another one</a>
                  </li>
                  <li>
                      <a href="#!">Final resource</a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="row">
          <div class="mycopy">
              <!-- Copyright -->
              <div class="footer-copyright text-center">© 2018 Copyright:
                  <a href="http://localhost/"> Sample website</a>
              </div>
              <!-- Copyright -->
          </div>
      </div>
  </div>
</footer>