<div class="container-fluid mycontact">
  <section class="section">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Login Form</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Kindly Login here</p>

    <div class="row">

      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
        <form id="contact-form" name="contact-form" action="mail.php" method="POST">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="name" name="name" class="form-control">
                <label for="name" class="">User Name</label>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="email" name="email" class="form-control">
                <label for="email" class="">Your email</label>
              </div>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </div>
    </div>
  </section>
</div>