<header>
  <div class="container-fluid myheader">
      <div class="row">
          <nav class="navbar navbar-default mynav">
              <div class="container-fluid">
                  <div class="navbar-header">
                  <a class="navbar-brand" href="#">
                      <img alt="Brand"  style="height:50px" src="assets/custom/images/logo.png">
                  </a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                      <ul class="nav navbar-nav navbar-right">
                      <li class="active"><a routerLink="/">Home</a></li>
                      <li><a routerLink="/Products">Products</a></li>
                      <li><a routerLink="/contacts">Contact</a></li>
                      <li><a routerLink="/login">Login</a></li>
                      </ul>
                  </div>
              </div>
          </nav>
      </div>                                 
  </div>
</header>
